view-locked {
    transition: transform 800ms, opacity 500ms;
    z-index: 2;
}

view-locked:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -48px;
    bottom: 0;
    background: rgba(15, 1, 47, 0.70);
    z-index: -1;
}

body:not(.state-locked) view-locked {
    transform: translateY(-150vh);
    pointer-events: none;
}

.state-locked x-blur-container {
    filter: blur(10px);
}

.state-locked view-home {
    opacity: 1;
}
