view-fees {
    padding-top: 160px;
    background: var(--primary-background);
}

view-fees input {
    position: relative;
    padding-bottom: 48px;
    margin-bottom: 8px;
}

view-fees input:before,
view-fees input:after {
    position: absolute;
    color: white;
    bottom: 0px;
}

view-fees input:before {
    content: 'Cheaper';
}

view-fees input:after {
    content: 'Faster';
    right: 0;
}

view-fees x-time-estimate {
    flex-grow: 1;
    margin-top: 24px;
}

/* Animations */

body:not(.state-fees) view-fees {
    transform: translateX(-32px);
}