view-confirm {
    box-sizing: border-box;
}

view-confirm x-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


/* Animations */

body:not(.state-confirm) view-confirm {
    transform: translateX(120px);
}

.state-confirm view-transaction {
    opacity: 1;
}

view-transaction x-numpad,
view-transaction a{
    transition: transform 500ms, opacity 300ms;
}

.state-confirm view-transaction x-numpad,
.state-confirm view-transaction a {
    opacity: 0;
    transform: translateX(-120px);
}

.state-confirm view-transaction x-amount-input{
	/*transform: translateY(-40px);*/
	transform-origin: center top;
}