view-confirm {
    box-sizing: border-box;
}

view-confirm x-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

x-fees {
    display: block;
    padding-bottom: 8px;
    font-weight: bold;
}

x-fees:before {
    content: 'Processing Fees:';
    /* display: block; */
    font-weight: normal;
    padding-right: 4px;
}

view-confirm x-text a{
    padding: 16px 0 32px;
    text-decoration: underline;
}
/* Animations */

body:not(.state-confirm) view-confirm {
    transform: translateX(120px);
}

.state-confirm view-transaction {
    opacity: 1;
}

view-transaction x-numpad,
view-transaction a {
    transition: transform 500ms, opacity 300ms;
}

.state-confirm view-transaction x-numpad,
.state-confirm view-transaction a {
    opacity: 0;
    transform: translateX(-120px);
}

.state-confirm view-transaction x-amount-input {
    /*transform: translateY(-40px);*/
    transform-origin: center top;
}


@media (max-width: 420px) {

    .state-confirm view-transaction {
        transform: translateY(100px);
    }

    view-confirm x-text {
        padding-bottom: 48px;
    }
}

@media (min-width: 420px) {

    .state-confirm x-amount-input {
        transform: translateY(-48px);
    }
}