view-received {
    /*padding: 64px 16px 0 16px;*/
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: transform 500ms, opacity 500ms;
}

view-received nimiq-logo{
   background-size: cover;
   width: 128px;
   height: 112px;
}

view-received nimiq-logo:before{
    content: ''
}

view-received:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -48px;
    bottom: 0;
    background: rgba(15, 1, 47, 0.67);
    z-index: -1;
}

view-received x-amount:before {
    content: 'You received';
    line-height: 64px;
    font-weight: 700;
}

new-balance {
    opacity: 0.8;
    font-weight: 500;
    padding-top: 24px;
}

new-balance:before {
    content: 'Your balance is now ';
}

new-balance:after {
    content: ' NIM';
}

body:not(.state-received) view-received {
    transform: translateY(40px);
    opacity: 0;
    pointer-events: none;
}

.state-received x-blur-container {
    filter: blur(10px);
}

.state-received view-home {
    opacity: 1;
    z-index: 0;
}