@import '/elements/x-screen/x-screen.css';
@import '../navigation/navigation.css';
@import '../screen-confirm/screen-confirm.css';
@import '../screen-fees/screen-fees.css';
@import '../screen-home/screen-home.css';
@import '../screen-locked/screen-locked.css';
@import '../screen-receive/screen-receive.css';
@import '../screen-received/screen-received.css';
@import '../screen-send/screen-send.css';
@import '../screen-complete/screen-complete.css';
@import '../screen-transaction/screen-transaction.css';
@import '../screen-welcome/screen-welcome.css';
@import '/elements/legacy/screen-identicons/screen-identicons.css';
@import '/elements/legacy/screen-backup-file/screen-backup-file.css';
@import '/elements/legacy/screen-backup-file-import/screen-backup-file-import.css';


/* App Layout */

x-blur-container {
    height: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    will-change: transform;
}

header {
    background-color: var(--primary-color);
    width: calc(100% + 32px);
    height: 196px;
    position: fixed;
    z-index: 0;
    padding: 16px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    left: -16px;
}

x-app-container {
    width: 100%;
    max-width: 800px;
    height: 584px;
    /* min-height:  100%; */
    background: white;
    margin-top: 96px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    background: var(--primary-background);
    overflow: hidden;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.4);
    position: relative;
    text-align: center;
}



screen-home,
screen-receive {
    padding: 0 0 129px !important;
}

screen-send{
    padding: 0 !important;
}

x-header {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    position: absolute;
    top: 0;
    z-index: 1;
}

x-header h1 {
    font-size: 15px;
    text-align: center;
    width: calc(100% - 80px);
    font-weight: 800;
}

x-header [right]:before {
    content: '';
    flex-grow: 1;
    display: block;
}


/* Responsiveness */

@media (max-height: 680px),
(max-width: 680px) {

    x-app-container {
        max-width: 100%;
        height: 100%;
        margin-top: 0;
        border-radius: 0;
        box-shadow: none;
        flex-grow: 1;
    }
    header {
        display: none;
    }
}

@media (max-height: 320px) {
    x-app-container {
        min-height: 640px;
        overflow: hidden;
    }
}

@media (min-width: 420px) {
    x-header {
        padding: 0 16px;
    }

    nav x-nav-box{
        padding: 32px 0 32px;
        max-width: 600px;
    }

    nav a:before{
        top: -66px;
    }
}

@media (min-width: 1280px) and (min-height: 800px) {
    x-app-container {
        max-width: 1028px;
        min-height: 640px;
        margin-top: 128px;
    }

    header {
        height: 256px;
    }

    nav x-nav-box{
        padding: 64px 0 64px;
        max-width: 800px;
    }

    nav a:before{
        top: -98px;
    }
}