/* App Layout */

:root {
    --primary-color: #536DFE;
    --primary-background: linear-gradient(#536DFE, #7d53fe);
}

html,
body {
    min-height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-grow: 1;
    overflow-x: hidden;
    margin: 0;
    background: #EEEEEE;
}

body {
    align-items: flex-start;
    justify-content: center;
}

header {
    background-color: #3F51B5;
    width: 100%;
    height: 196px;
    position: absolute;
    z-index: 0;
    padding: 16px 24px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


nimiq-logo {
    width: 104px;
    height: 30px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRjZBRTJEIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNCIgaGVpZ2h0PSIzMCI+PHBhdGggZD0iTTI1LjIgMUg4LjhsLTggMTQgOCAxNGgxNi40bDgtMTQtOC0xNHptLTYuNyAyMnYzSDE2di0yLjZjLTEuNSAwLTMuMy0uOC00LjUtMmwxLjctMi40YzEuMyAxIDIuNCAxLjUgMy42IDEuNSAxLjQgMCAyLS42IDItMS43IDAtMi42LTYuNy0yLjYtNi43LTcgMC0yLjYgMi00LjMgNC00LjhWNC4yaDN2Mi42YzEuOC4yIDMgMSA0IDJMMjEgMTFjLTEtMS0xLjctMS4zLTIuOC0xLjMtMS4yIDAtMiAuNS0yIDEuNiAwIDIuNCA3IDIuMiA3IDcgMCAyLjQtMS41IDQuMy00IDQuOHoiLz48L3N2Zz4=');
    background-repeat: no-repeat;
    display: block;
}


nimiq-logo:before {
    content: 'NIMIQ';
    letter-spacing: 0.12em;
    line-height: 30px;
    margin-left: 42px;
    color: white;
    font-size: 17px;
    font-weight: 500;
}

x-app {
    width: 100%;
    max-width: 760px;
    min-height: 584px;
    background: white;
    margin-top: 96px;
    /* z-index: 1; */
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    background: var(--primary-background);
    overflow: hidden;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.4);
    position: relative;
    text-align: center;
}

p {
    text-align: center;
    line-height: 19px;
}

a {
    text-decoration: none;
    color: white;
}

p a {
    text-decoration: underline;
}














/*  Views Layout */

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

main>* {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: absolute;

    /* Transitions */
    transition: transform 500ms, opacity 300ms;
    will-change: transform, opacity;
    transform-origin: center;
}

main>*:target {
    z-index: 1;
    opacity: 1;
}

main>*,
main>*:target~* {
    opacity: 0;
}

#home,
#send,
#receive {
    padding-bottom: 110px;
    box-sizing: border-box;
}

x-header {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    z-index: 1;
}

x-header h1 {
    font-size: 15px;
    text-align: center;
    width: calc(100% - 80px);
    font-weight: 500;
}

x-header [right]:before{
    content: '';
    flex-grow: 1;
    display: block;
}

x-address {
    font-size: 14px;
    -webkit-user-select: text;
    user-select: all;
}





/* Responsiveness */

@media (max-width: 420px) {

    x-app {
        min-height: 100%;
        margin-top: 0;
        border-radius: 0;
        box-shadow: none;
    }
    header {
        display: none;
    }
}

@media (min-width: 420px) {
    x-numpad {
        display: none;
    }

    x-header {
        padding: 0 16px;
    }
}

@media (min-width: 1280px) and (min-height: 800px) {
    x-app {
        max-width: 1028px;
        min-height: 640px;
        margin-top: 128px;
    }

    header {
        height: 256px;
    }
}