/* App Layout */

:root {
    --primary-color: #536DFE;
    --primary-background: linear-gradient(#536DFE, #a553fe);
}

html,
body {
    overflow-x: hidden;
}

html,
body,
x-blur-container {
    min-height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-grow: 1;
    margin: 0;
    background: #EEEEEE;
}

x-blur-container {
    align-items: flex-start;
    justify-content: center;
}

header {
    background-color: #3F51B5;
    width: calc(100% + 32px);
    height: 196px;
    position: fixed;
    z-index: 0;
    padding: 16px 40px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    left: -16px;
}

nimiq-logo {
    width: 104px;
    height: 30px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMjgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIyLjQ2IDBIOS41NGEzIDMgMCAwIDAtMi42IDEuNTFsLTYuMjkgMTFhMyAzIDAgMCAwIDAgMi45OGw2LjI5IDExQTMgMyAwIDAgMCA5LjU0IDI4aDEyLjkyYTMgMyAwIDAgMCAyLjYtMS41MWw2LjI5LTExYTMgMyAwIDAgMCAwLTIuOThsLTYuMjktMTFBMyAzIDAgMCAwIDIyLjQ2IDB6TTE3LjUgMjJ2M0gxNXYtMi42Yy0xLjUgMC0zLjMtLjgtNC41LTJsMS43LTIuNGMxLjMgMSAyLjQgMS41IDMuNiAxLjUgMS40IDAgMi0uNiAyLTEuNyAwLTIuNi02LjctMi42LTYuNy03IDAtMi42IDItNC4zIDQtNC44VjMuMmgzdjIuNmMxLjguMiAzIDEgNCAyTDIwIDEwYy0xLTEtMS43LTEuMy0yLjgtMS4zLTEuMiAwLTIgLjUtMiAxLjYgMCAyLjQgNyAyLjIgNyA3IDAgMi40LTEuNSA0LjMtNCA0LjhsLS43LS4xeiIgZmlsbD0iI0Y2QUUyRCIvPjwvc3ZnPg==');
    /*background-image: url('data:image/svg+xml,<svg viewBox="0 0 164 144" xmlns="http://www.w3.org/2000/svg" style="filter:drop-shadow(0 0 1px rgba(0,0,0,0.3))"><g fill="none" fill-rule="evenodd" ><path fill="#FFF" d="M45 4h65v121H45z"/><path d="M108.07 0H44.4a11 11 0 0 0-9.55 5.54l-31 54.25a11 11 0 0 0 0 10.92l31 54.25a11 11 0 0 0 9.55 5.54h63.67a11 11 0 0 0 9.55-5.54l31-54.25a11 11 0 0 0 0-10.92l-31-54.25A11 11 0 0 0 108.07 0zM83.22 102.54v13.98H71.57V104.4c-6.99 0-15.38-3.73-20.97-9.32l7.92-11.19c6.06 4.66 11.19 7 16.78 7 6.53 0 9.32-2.8 9.32-7.93 0-12.12-31.23-12.12-31.23-32.62 0-12.12 7.46-20.05 18.65-22.38V14.91h11.65v12.12c7.46.93 13.05 4.66 17.71 9.32l-9.32 10.26c-3.73-4.66-7.46-6.06-12.59-6.06-5.59 0-9.32 2.33-9.32 7.46.94 11.18 32.63 10.25 32.63 32.62 0 11.19-7 20.04-18.64 22.37l-.94-.46z" fill="#F6AE2D" fill-rule="nonzero"/></g></svg>');*/
    background-repeat: no-repeat;
    display: block;
}


nimiq-logo:before {
    content: 'NIMIQ';
    letter-spacing: 0.12em;
    line-height: 28px;
    margin-left: 42px;
    color: white;
    font-size: 17px;
    font-weight: 500;
}

x-app-container {
    width: 100%;
    max-width: 760px;
    height: 584px;
    background: white;
    margin-top: 96px;
    /* z-index: 1; */
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    background: var(--primary-background);
    overflow: hidden;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.4);
    position: relative;
    text-align: center;
}



h1,
.h1 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
}

h1+h2 {
    font-size: 13px;
    padding-bottom: 24px;
    font-weight: 500;
}

h2,
.h2 {
    font-size: 36px;
    font-weight: 500;
}

h1,
h2,
p {
    margin: 0;
}


p {
    text-align: center;
    line-height: 19px;
}

a {
    text-decoration: none;
    color: white;
}

p a {
    text-decoration: underline;
}


a[secondary] {
    margin-bottom: 48px;
    font-size: 15px;
    font-weight: 800;
}




/*  Views Layout */

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

main>* {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: absolute;

    /* Transitions */
    transition: transform 500ms, opacity 300ms;
    will-change: transform, opacity;
    transform-origin: center;
}

main>*:target {
    z-index: 1;
    opacity: 1;
}

main>*,
main>*:target~* {
    opacity: 0;
}

#home,
#send,
#receive {
    padding-bottom: 110px;
    box-sizing: border-box;
}

x-header {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    z-index: 1;
}

x-header h1 {
    font-size: 15px;
    text-align: center;
    width: calc(100% - 80px);
    font-weight: 800;
}

x-header [right]:before {
    content: '';
    flex-grow: 1;
    display: block;
}




/* Responsiveness */

@media (max-width: 420px) {

    x-app-container {
        height: 100%;
        margin-top: 0;
        border-radius: 0;
        box-shadow: none;
        flex-grow: 1;
    }
    header {
        display: none;
    }
}

@media (max-height: 320px) {
    x-app-container {
        min-height: 640px;
        overflow: hidden;
    }
}

@media (min-width: 420px) {
    x-numpad {
        display: none;
    }

    x-header {
        padding: 0 16px;
    }
}

@media (min-width: 1280px) and (min-height: 800px) {
    x-app-container {
        max-width: 1028px;
        min-height: 640px;
        margin-top: 128px;
    }

    header {
        height: 256px;
    }
}