@import '/secure-elements/x-amount/x-amount.css';

screen-fees {
    padding-top: 160px !important;
    background: var(--primary-background);
}

screen-fees input {
    position: relative;
    padding-bottom: 48px;
    margin-bottom: 8px;
}

screen-fees input:before,
screen-fees input:after {
    position: absolute;
    color: white;
    bottom: 0px;
}

screen-fees input:before {
    content: 'Cheaper';
}

screen-fees input:after {
    content: 'Faster';
    right: 0;
}

screen-fees x-time-estimate {
    flex-grow: 1;
    margin-top: 24px;
}
