.state-receive view-home {
    opacity: 1 !important;
    z-index: 2;
    pointer-events: none;
}

.state-receive view-home x-amount {
    transform: scale(0.6);
    opacity: 0;
}

.state-receive view-home x-header {
    opacity: 0;
}

.state-receive view-home x-identicon:not(:empty) {
    transform: scale(0.6);
 }

view-receive {
    background-position: center calc(50% - 88px);
    background-repeat: no-repeat;
    background-size: 800px 800px;
    transition: transform 500ms,
    opacity 300ms;
}

view-receive x-address {
    position: absolute;
    bottom: 188px;
}

view-receive x-nimiqode {
    transition: transform 500ms, opacity 300ms;
    /* transform: rotate(45deg); */
    will-change: transform, opacity;
    margin-top: -88px;
}

view-receive x-nimiqode:empty{
    opacity: 0;
    transform: scale(0);
} 

body:not(.state-receive) view-receive x-nimiqode {
    transform: rotate(-90deg) scale(0.3);
}