.state-receive view-home {
    opacity: 1 !important;
    z-index: 2;
    pointer-events: none;
}

.state-receive view-home x-amount {
    transform: scale(0.6);
    opacity: 0;
}

.state-receive view-home x-header {
    opacity: 0;
}

.state-receive view-home x-identicon:not(:empty) {
    transform: scale(0.6);
 }

view-receive {
    background-position: center calc(50% - 88px);
    background-repeat: no-repeat;
    background-size: 800px 800px;
    transition: transform 500ms,
    opacity 300ms;
}

view-receive x-address {
    position: absolute;
    bottom: 188px;
}

view-receive x-qr-encoder {
    transition: transform 500ms, opacity 300ms;
    will-change: transform, opacity;
    margin-top: -88px;
}

view-receive x-qr-encoder:empty{
    opacity: 0;
    transform: scale(0);
} 

view-receive{
    transform-origin: left top;
}

body:not(.state-receive) view-receive{
    transform: translateX(-128px) scale(0.5);
}