html {
    /* To prevent the performance hit from custom fonts we choose the system's nicest font (see: https://css-tricks.com/preventing-the-performance-hit-from-custom-fonts/ ) */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1,
.h1 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
}

h1+h2 {
    font-size: 13px;
    padding-bottom: 24px;
    font-weight: 500;
}

h2,
.h2 {
    font-size: 36px;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}