nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: white;
}

x-nav-box {
    width: 100%;
    max-width: 480px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 20px 0 16px;
    box-sizing: border-box;
}

nav a {
    width: 80px;
    height: 82px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    text-decoration: none;
    color: var(--primary-color);
    letter-spacing: 0.12em;
    /* font-weight: bold; */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    content: 'Receive';
}

/* Icons */

nav a:after {
    content: '';
    height: 55px;
    width: 56px;
    display: block;
    margin-bottom: 8px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1.2px solid var(--primary-color);
    border-radius: 50%;
    box-sizing: border-box;
}

nav a[href="#receive"]:after {
    background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjNTU2M0VEIiBoZWlnaHQ9IjI0IiB3aWR0aD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE5IDloLTRWM0g5djZINWw3IDcgNy03ek01IDE4djJoMTR2LTJINXoiLz48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+');
}

nav a[href="#home"]:after {
    background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjNTM2REZFIiBoZWlnaHQ9IjI0IiB3aWR0aD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEwIDIwdi02aDR2Nmg1di04aDNMMTIgMyAyIDEyaDN2OHoiLz48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+');
}

nav a[href="#send"]:after {
    background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjNTM2REZFIiBoZWlnaHQ9IjI0IiB3aWR0aD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik05IDE2aDZ2LTZoNGwtNy03LTcgN2g0em0tNCAyaDE0djJINXoiLz48L3N2Zz4');
}




/* Animate Selected */

nav a:after {
    transform-origin: center bottom;
    transition: transform 500ms;
}

.state-home nav a[href="#home"]:after,
.state-send nav a[href="#send"]:after,
.state-receive nav a[href="#receive"]:after {
    transform: scale(1.3);
}


/* Bump */

nav a:before {
    content: '';
    width: 304px;
    height: 34px;
    position: absolute;
    top: -54px;
    left: 50%;
    margin-left: -152px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0zMzggMTUuNVYzNEgtMzdWMTUuNSAzNEgwQzY2LjYgMzQgOTAuNSAwIDE1MC41IDBzODUuOCAzNCAxNTQgMzRIMzM4VjE1LjV6IiBmaWxsPSIjZmZmIi8+PC9zdmc+');
    transform: scaleY(0);
    transition: transform 500ms;
    transform-origin: center bottom;
    will-change: transform;
    border-bottom: 1px solid white;
}

.state-home nav a[href="#home"]:before,
.state-received nav a[href="#home"]:before,
.state-send nav a[href="#send"]:before,
.state-receive nav a[href="#receive"]:before {
    transform: scaleY(1);
}


/* Hide Navigation if not state = (home|send|receive) */

nav {
    transition: transform 300ms;
    will-change: transform;
    transform-origin: center bottom;
}

body:not(.state-home):not(.state-send):not(.state-receive):not(.state-received) nav {
    transform: translate(0, 270px);
}

/* Focused */

nav a:focus {
    outline: none;
}

nav a:focus:after {
    transform: scale(1.1);
}
