@import '/elements/x-address-scanner/x-address-scanner.css';

.state-send view-send {
    opacity: 1;
}

view-send > x-address-scanner [qr-overlay] {
    margin-top: -16px;
}

x-address-scanner [page="intro"] {
    padding-bottom: 48px;
}

x-address-scanner [page="fallback"] {
    padding-bottom: 64px;
}
