view-home x-identicon {
    width: 160px;
    height: 160px;
    transition: transform 500ms, opacity 300ms;
    will-change: transform;
    animation-fill-mode: forwards;
    margin-top: 36px;
}

view-home x-identicon:empty {
    background: url('data:image/svg+xml,<svg fill="#fff" viewBox="0 0 320 320" xmlns="http://www.w3.org/2000/svg"><path fill="white" d="M251.6 17.34l63.53 110.03c5.72 9.9 5.72 22.1 0 32L251.6 269.4c-5.7 9.9-16.27 16-27.7 16H96.83c-11.43 0-22-6.1-27.7-16L5.6 159.37c-5.7-9.9-5.7-22.1 0-32L69.14 17.34c5.72-9.9 16.28-16 27.7-16H223.9c11.43 0 22 6.1 27.7 16z"/></svg>');
    background-size: cover;
    opacity: 0.5;
    animation: loadingSpinner 2s infinite linear;
}

@keyframes loadingSpinner {
    to {
        transform: rotateY(360deg);
    }
}

view-home x-currency-1:empty:before{
	content: 'Syncing...';
	font-size: 24px;
	letter-spacing: 0.05em;
}

view-home x-currency-1:empty:after,
view-home x-currency-2:empty:before,
view-home x-currency-2:empty:after {
    content: '';
}