@import '/elements/screen-recipient/screen-recipient.css';


screen-send>x-address-pages x-qr-scanner-overlay {
    margin-top: -24px;
}

@media (max-width: 640px),
(max-height: 840px) {
    screen-send.x-view {
        max-width: 100% !important;
        max-height: 100% !important;
        margin-top: 0;
        top: 0;
        margin-bottom: 130px;
    }
}

@media (min-width: 640px) and (min-height: 840px) {
    screen-send.x-view {
        top: 30px;
        max-height: 540px !important;
        border-radius: 6px;
        box-shadow: var(--box-shadow);
        overflow: hidden;
    }
}

@media (min-height: 1200px) {
    screen-send.x-view {
        top: 256px;
    }
}

screen-send.x-view.x-exit-animation {
    animation-name: from-right;
    animation-direction: reverse;
    animation-duration: 300ms;
}